/* VARIABLES COLORES */
$colorBlanco: #fff;

/* VARIABLES IMAGENES FONDOS PANTALLA Y COLORES DE FONDO */
$fondoPantallaBanco: url('/assets/image/imagen_banco.jpg');

/* VARIABLES FONT-FAMILY */
$font-family-RussoOne: 'Russo One', sans-serif; 