/* VARIABLES COLORES */
/* VARIABLES IMAGENES FONDOS PANTALLA Y COLORES DE FONDO */
/* VARIABLES FONT-FAMILY */
/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url("/assets/image/imagen_banco.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-family: "Russo One", sans-serif;
  font-size: 15px; }

.form-login {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.linkLogin {
  text-decoration: none; }
